{% extends 'base.html.twig' %}
{% block title %}Запишитесь на приём!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/patient_page.css') }}">
{% endblock %}

{% block body %}

<img src="{{ asset('images/appointment.avif') }}" alt="Изображение" class="placeholder-image">
    <div class="loguot">
        <a href="{{ path('app_logout') }}" class="btn btn-logout">Выйти</a>
    </div>
    <h1>Запись на прием</h1>
    <div class="form-container">
        {{ form_start(form) }}
        {{ form_row(form.service, {
            'attr': {
                'class': 'service-select',
                'data-url-dates': path('get_available_dates', {'_format': 'json'}),  
                'data-url-price': path('get_lowest_price', {'_format': 'json'})  
            }
        }) }}
        <div>
            {{ form_label(form.date) }}
            {{ form_widget(form.date, { 
                'attr': {
                    'class': 'date-select',
                    'disabled': 'disabled',
                    'style': 'background-color: #f1f1f1;'
                }
            }) }}
        </div>
        {{ form_widget(form.DuserId) }}
        {{ form_row(form.save) }}
    {{ form_end(form) }}

    {% if lowestPrice is not null %}
        <p>Наименьшая цена: {{ lowestPrice }}</p>
    {% endif %}

    <div id="lowest-price"></div>
    </div>
    

    <script>
        const serviceSelect = document.querySelector('.service-select');
        const dateSelect = document.querySelector('.date-select');
        const lowestPriceDiv = document.querySelector('#lowest-price');

        serviceSelect.addEventListener('change', function() {
            const selectedServiceId = this.value;
            const urlDates = this.dataset.urlDates;
            const urlPrice = this.dataset.urlPrice;

            fetch(urlPrice, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-Requested-With': 'XMLHttpRequest'
                },
                body: JSON.stringify({ service: selectedServiceId })
            })
            .then(response => response.json())
            .then(data => {
                const lowestPrice = data.lowestPrice;
                lowestPriceDiv.textContent = 'Наименьшая цена: ' + lowestPrice;
            });

            fetch(urlDates, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-Requested-With': 'XMLHttpRequest'
                },
                body: JSON.stringify({ service: selectedServiceId })
            })
            .then(response => response.json())
            .then(data => {
                const availableDates = data.availableDates;
                const DuserId = data.DuserId;
                const unavailableDates = data.unavailableDates;

                dateSelect.innerHTML = '';
                availableDates.forEach(function(date) {
                const option = document.createElement('option');
                option.value = date;
                option.text = date;

                // Проверить, является ли текущая дата отключенной
                if (unavailableDates.includes(date)) {
                    option.disabled = true;
                }

                dateSelect.appendChild(option);
            });
                const DuserIdField = document.querySelector('#{{ form.DuserId.vars.id }}');
                DuserIdField.value = DuserId;
                dateSelect.disabled = false; // Разрешить выбор даты после обновления списка доступных дат
                dateSelect.style.backgroundColor = ''; // Удалить стиль фона
            });
        });
    </script>
{% endblock %}
